.calculadora{
    width: 380px;
    height: 400px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
}

.pantalla {
    width: 330px;
    height: 100px;
    border-radius: 10px;
    background-color: white;
    margin: 15px auto 0;
    position: relative;
}

.numericos {
    width: 180px;
    height: 240px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.operadores {
    width: 60px;
    height: 240px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.btn_lg {
    width: 50px;
    height: 100px;
    margin: 5px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: white;
    font-weight: 700;
}

.mensaje {
    position: absolute;
    font-size: 2.5em;
    font-weight: 700;
    bottom: 5px;
    right: 10px;
}